* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 20px;
}

.form--container {
  border: 1px solid aliceblue;
  padding: 30px;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 2px 2px 2px lightblue;
  border-radius: 10px;
  max-width: 800px;
}

.form--input--currency {
  display: flex;
  justify-content: center;
}

.equalSign {
  text-align: center;
  font-size: 1.3em;
  font-weight: 800;
  color: rgb(113, 228, 113);
}

.input--number {
  font-size: 1.3em;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px;
  box-shadow: 2px 2px 2px lightblue;
}

.select--currency {
  font-size: 1.3em;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -5px;
  padding: 5px;
  box-shadow: 2px 2px 2px lightblue;
}